/* Import Font*/ 

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');


/* ---------------------#
        MAP CSS     
#-----------------------#*/
#map { 
    height: calc(100vh - 77px); 
    background:#ccc;
    position: relative;
}
    #coord {
        background: #fff;
        position: absolute;
        bottom: 0px;
        left: 45%;
        padding: 1px;
        z-index: 99999;
    }

    .box{
        left: 0;
        opacity: 0.8; 
        background: #ccc;
        
    }

     .card {
        border: 0px;
        background : #fff;
    }

      .toolbox {
        display: none;
        width: 190px;
        min-height: 200px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        background-color: #ffff;
        border: 2px solid #333;
        border-radius: 10px;
    }

    /*** layer Collapse*/
    #lyrCollapse {
        position: absolute;
        text-align: right;
        right: 10px;
        top: 10px;
        z-index: 1000;
        padding: 0px;
        background-color: transparent;
        border: 0px;
    }

    #lyrCollapse:hover + .toolbox {
        display: block;
        z-index: 1000;
    }

    .toolbox:hover {
        display: block;
    }

    #lyrLogo {
        width: 40px;
        height: 40px;
        /*background-color: transparent;*/
    }

    .btn {
        background-color: black;
        border: 0px;
    }

    .custom-control-input {
     cursor: pointer!important;
    }



    .card-header {
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        font-weight: bold;
        font-size: 1.0em;
        text-transform: uppercase;
    }


    .material-switch > input[type="checkbox"] {
        display: none;   
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative; 
        width: 40px;  
    }

        /***** Map labes in layer Collapse*/
    .custom-control {
        /*padding: 0px;*/
        margin: 0px;
    }

    .custom-control-label {
        padding: 0px 10px;
        margin-top: 5px;

    }


    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 18px;
        float: left;
        margin-bottom: 0px;
        margin-right: 25px;
    }

     .list-group-item {
        padding: 4px 4px;
        margin-left: 1px;
        /*font-family: 'Oxygen', sans-serif;*/
        /*font-weight: bold;*/
    }

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }


    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }


    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }


    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


    input.default:checked + .slider {
      background-color: #444;
    }
    input#someSwitchOptionPrimary:checked + .slider {
      background-color: #2196F3;
    }
    input.success:checked + .slider {
      background-color: green;
    }


    .footer {
        color: green ;
        text-align: center;
        font-size: 0.8em;

    }








/********Small devices only (Tablet)*******/
/*@media (min-width: 768px) and (max-width: 991px) {
    #map{
        height: calc(100vh - 66px); 
        background:#ccc;
        position: relative;
    }*/

    /****Coordinate Indicator***/
/*    #coord {
        background: #fff;
        position: absolute;
        bottom: 0px;
        left: 45%;
        padding: 2px;
        z-index: 99999;
    }*/

}

